---
layout: layout
title: "@GreWeb &bull; embrace standard web technologies for web, games and mobile apps"
---

{% for post in paginator.posts %}
<article>
  {% include post-header.html %}
    <div class="entry-content excerpt">
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | mark_excerpt }}
    {% endif %}
    </div>
    {% if post.excerpt %}
    <footer>
      <a class="comments" href="{{site.url}}{{ post.url }}#disqus_thread">Comments</a>
      <a class="continue-reading" href="{{ post.url }}">Continue reading »</a>
    </footer>
    {% endif %}
</article>
{% endfor %}

<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="previous">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
    {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next">Next</a>
  {% endif %}
</nav>

