<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Gaëtan Renaudeau" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{% for tag in site.tags %}{{tag | first}},{% endfor %}" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@greweb">
    <meta name="twitter:title" content="{{ page.title }}">
    {% if page.description %}<meta name="twitter:description" content="{{page.description}}">{% endif %}
    <meta name="twitter:creator" content="@greweb">
    {% if page.thumbnail %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.thumbnail }}">
    <link rel="image_src" href="{{ site.url }}{{ page.thumbnail }}">
    {% endif %}

    <title>@GreWeb - {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel='shortcut icon' href='/favicon.png' />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss/index.xml" />
  </head>
  <body>

    <header role="banner">
      <h1><a href="{{ site.url }}">@GreWeb</a></h1>
      <h2>embrace standard web technologies for web, games and mobile apps</h2>
    </header>

    <nav>
      <a href="mailto:renaudeau.gaetan@gmail.com">Mail</a>
      <a href="http://github.com/gre" target="_blank">Github</a>
      <a href="http://twitter.com/greweb" target="_blank">Twitter</a>
      <a href="http://www.linkedin.com/pub/gaetan-renaudeau/21/258/620" target="_blank">LinkedIn</a>
      <a href="https://soundcloud.com/greweb" target="_blank">SoundCloud</a>
    </nav>

    <div id="container">
    <div id="main">
      <div id="content">
        {{ content }}
      </div>

      <aside id="sidebar">
        <section class="latest_posts">
          <h3>Last Posts</h3>
          <ul>
            {% for post in site.posts limit: 10 %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </section>

        <section class="about_me">
          <h3>About the author</h3>
          <p>Hi, I am Gaëtan Renaudeau.<br/>aka <a href="https://twitter.com/greweb">@greweb</a></p>
          <img style="float:left;margin-right:10px;margin-top:5px;width:80px" src="/images/avatar.jpg" alt="" />
          <p>I write articles, do talks and videos around web technologies. I develop HTML5 games for fun.</p>
          <p>I speak French, English and start learning Chinese.</p>
        </section>

        <section class="currentProject">
          <h3>Current Project</h3>
          <p>
            <a href="https://glsl.io/">
              <img src="/images/glslio.png" style="width:240px" alt="">
            </a>
          </p>
        </section>

        <section class="twitter">
          <h3>Last Tweets</h3>
          <a class="twitter-timeline" href="https://twitter.com/greweb" data-widget-id="325600219960057857"></a>
        </section>

        <section class="lichess">
          <h3>lichess TV</h3>
          <script src="http://en.lichess.org/tv/embed?theme=brown&bg=light"></script>
        </section>
      </aside>
    </div>
    </div>

    <footer role="contentinfo">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png"></a>
      <span>Gaëtan Renaudeau</span>
      <a href="https://twitter.com/greweb" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @greweb</a>
    </footer>

    <footer role="donation">
        <script id='fbj8guq'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=greweb&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbj8guq');</script><br/>
        BitCoin: <a href="bitcoin:17tYSsSRoUhtQehAEWesfwGBeG1qQueMub?amount=0.01">17tYSsSRoUhtQehAEWesfwGBeG1qQueMub</a> <br />
        LiteCoin: <a href="litecoin:LbDq1zaNQgNT59H5fDuGDm4S1iHdf22BAL?amount=1">LbDq1zaNQgNT59H5fDuGDm4S1iHdf22BAL</a>
    </footer>

<script type='text/javascript' src='/javascripts/header.js'></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'greweb'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
<script type="text/javascript">//<![CDATA[
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-9919624-1']);
_gaq.push(['_trackPageview']);
(function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
})();
//]]></script>
  </body>
</html>
